<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>GeoBlink Test</title>
    <!-- Add bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Added a font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">  
    <!-- Add stylesheets -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/productlist.css">
    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="favicon.ico" />

    <!-- Include the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>   

  </head>
  <!-- Define main angular app -->
  <body ng-app="GeoBlinkApp">
  <!-- Define controller -->
  <div ng-controller="geoCtrl" class="content">
    <div class="ml-1 mt-2 relative">
        <label>
        <input class="input form-control check-max" list="Countries" name="myCountry" ng-model = "CountryList" ng-change="favouriteThis()" ng-style="{width: cols + '%'}" placeholder="State" /></label>
        <datalist id="Countries">
          <option ng-repeat="country in countries" value="{{country}}" data-id= {{country}}></option>
        </datalist>

        <div class="tag-envelope">
          <div ng-repeat="item in favouriteList" ng-click="removeItem(item)" class="tag-container">
            <div class="tag">{{item}}<span class="cross">x</span></div>
          </div>
        </div>
      <div ng-show="alertAddMessage" ng-click="hideAlert()" class="alert-message mb-2">
          <span>You already selected that country!<span class="right mr-1 cross">x</span></span>
      </div>
    </div>
  </div>
  </body>
  <!-- Load Main App and Controller -->
  <script src="js/GeoBlinkApp.js"></script>   
  </html>
   