<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>GeoBlink Test</title>
    <!-- Add bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Added a font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">  
    <!-- Add stylesheets -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/productlist.css">
    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="favicon.ico" />

    <!-- Include the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>   

  </head>
  <!-- Define main angularapp -->
  <body ng-app="GeoBlinkApp">
  <!-- Define controller -->
  <div ng-controller="geoCtrl" class="content">
    <div class="ml-1 mt-2 relative">
        <label>
        <input class="input form-control check-max" list="Countries" name="myCountry" ng-model = "CountryList" ng-change="favouriteThis()" ng-style="{width: cols + '%'}" placeholder="State" /></label>
        <datalist id="Countries">
          <option ng-repeat="country in countries" value="{{country}}" data-id= {{country}}></option>
        </datalist>

        <div class="tag-envelope">
          <div ng-repeat="item in favouriteList" ng-click="removeItem(item)" class="tag-container">
            <div class="tag">{{item}}<span class="cross">x</span></div>
          </div>
        </div>
      <div ng-show="alertAddMessage" ng-click="hideAlert()" class="alert-message mb-2">
          <span>You already selected that country!<span class="right mr-1">X</span></span>
      </div>
    </div>
  </div>
  </body>

  <script>
    //define app and main controller
    var GeoBlinkApp = angular.module("GeoBlinkApp",[]);
    GeoBlinkApp.controller("geoCtrl",function($scope, $http){

    var countriesTemp = [];
    $scope.countries;
    $scope.favouriteList = [];
    $scope.alertAddMessage = false;
    $scope.cols = 100;

    //get the data from an API. Emulated a server on localhost with json-server
    function getData()
    {
      $http({
      method : "GET",
      url : "http://localhost:3000/Countries"
      }).then(function mySuccess(response)
      {
        countriesTemp = response.data;
        $scope.countries = countriesTemp[0];

      }, function myError(response)
      {
        $scope.info = response.statusText;
      });
    }

    $scope.favouriteThis = function () {
      var country = this.CountryList;

      if(Object.values($scope.countries).indexOf(country) > -1){
        var query = country;
      }
      if($scope.favouriteList.includes(query) && query)
      {
        $scope.alertAddMessage = true;
        this.CountryList = "";
      }
      else if (query)
      {
        $scope.favouriteList.push(query);
        let aprox = query.length;
        let len = aprox * 10;
        $scope.cols += len;
        this.CountryList = "";
      }

      $scope.favouriteShow = true;
    };

    //remove items from favourite list
    $scope.removeItem = function (item) {
      var index = $scope.favouriteList.indexOf(item);

      if (index > -1) {
        $scope.favouriteList.splice(index, 1);
        let aprox = item.length;
        let len = aprox * 10;
        $scope.cols -= len;
      }
    };

    //closes alert message displayed on attempt to add an already favourited product
    $scope.hideAlert = function(){
      $scope.alertAddMessage = false;
    };

    //initiate
    getData();           
  });
  </script>
  </html>
   